## Imports

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_snow = pd.read_csv(r'C:\Users\Noki\Downloads\archive (7)\annualsnow.csv', sep=',')
df_resort = pd.read_csv(r'C:\Users\Noki\Downloads\archive (7)\skiresorts.csv', sep=',')

In [3]:
display(df_snow)
display(df_resort)

,Location,Resort,Pass,Year,Total Snowfall,Snowfall Days,Average Base Depth,Average Summit Depth,Max Base Depth,Biggest Snowfall
0,utah,Alta,Ikon,2012 - 2013,"366""",76,"50""","52""","113""","17"""
1,utah,Alta,Ikon,2013 - 2014,"353""",68,"64""","60""","124""","14"""
2,utah,Alta,Ikon,2014 - 2015,"278""",56,"44""","42""","90""","19"""
3,utah,Alta,Ikon,2015 - 2016,"286""",60,"51""","51""","116""","19"""
4,utah,Alta,Ikon,2016 - 2017,"304""",55,"64""","63""","145""","19"""
...,...,...,...,...,...,...,...,...,...,...
865,wisconsin,Wilmot Mountain,Epic,2017 - 2018,"37""",15,"6""","10""","28""","8"""
866,wisconsin,Wilmot Mountain,Epic,2018 - 2019,"35""",9,"9""","15""","24""","10"""
867,wisconsin,Wilmot Mountain,Epic,2019 - 2020,"6""",1,"9""","17""","29""","6"""
868,wisconsin,Wilmot Mountain,Epic,2020 - 2021,"22""",11,"9""","10""","20""","5"""
869,wisconsin,Wilmot Mountain,Epic,2021 - To Date,"10""",4,"19""","18""","64""","4"""

,Location,Resort,Pass,Limited or unlimited,Total Lifts,Summit height,Vertical Drop,Base Elevation,Runs in Total,Longest Run,...,Projected Closing,Projected Days Open,Days Open Last Year,Years Open,Average Snowfall,Beginners Runs,Intermediate Runs,Advanced Runs,Expert Runs,Night Skiing
0,utah,Alta,Ikon,limited,6,11068',2538',8530',119,1.3 mi,...,April 25 20222022/04/25,142,156,84,"547""",NaN,NaN,NaN,NaN,NaN
1,colorado,Arapahoe Basin,Ikon,limited,9,13050',2530',10780',147,1.5 mi,...,June 05 20222022/06/05,270,234,76,"350""",7%,20%,49%,24%,NaN
2,colorado,Aspen Snowmass,Ikon,limited,40,12510',4406',8104',336,5.3 mi,...,April 17 20222022/04/17,148,150,75,"300""",NaN,NaN,NaN,NaN,NaN
3,california,Bear Mountain,Ikon,unlimited,12,8805',1665',7140',15,1.5 mi,...,April 16 20222022/04/16,135,122,79,"100""",20%,33%,33%,13%,NaN
4,montana,Big Sky,Ikon,limited,36,11166',4350',7500',317,6 mi,...,April 24 20222022/04/24,143,144,49,"400""",15%,25%,42%,18%,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,michigan,Mt. Brighton,Epic,limited,13,1330',230',1100',25,0.1 mi,...,March 13 20222022/03/13,99,111,62,"60""",24%,44%,24%,8%,130 ac
83,trentino,Pejo,Epic,limited,7,3000m,1600m,1160m,20 km,8 km,...,April 18 20222022/04/18,N.A.,N.A.,N.A.,0cm,NaN,25%,65%,10%,0.9 km
84,trentino,Pinzolo,Epic,limited,14,2100m,1300m,800m,31.4 km,5.2 km,...,April 18 20222022/04/18,N.A.,N.A.,53,0cm,NaN,12%,41%,47%,NaN
85,colorado,Telluride,Epic,limited,17,13150',4425',8725',147,4.6 mi,...,April 17 20222022/04/17,129,136,50,"280""",16%,30%,21%,34%,NaN
86,wisconsin,Wilmot Mountain,Epic,unlimited,11,1030',230',800',21,0.5 mi,...,March 13 20222022/03/13,139,125,84,"70""",33%,33%,33%,NaN,135 ac

In [4]:
# Lower case all column names
df_resort.columns = df_resort.columns.str.lower()
df_snow.columns = df_snow.columns.str.lower()

### Drop symbols to convert data to integer or float

In [5]:
df_snow = df_snow.replace('"', '', regex=True) # regex specifies first argument is a regular expression. Replacing all instances with ''
df_resort = df_resort.replace('"', '', regex=True)

df_snow.columns = df_snow.columns.str.replace(' ','_') # Replace empty space with an underscore
df_resort.columns = df_resort.columns.str.replace(' ','_')

# df_snow['total_snowfall'].values # Getting error converting to (int) so i checked the values to find that 'cm' was included in some of the data
# df_snow['total_snowfall'] = df_snow['total_snowfall'].replace('cm', '', regex=True) # Dropped 'cm'
# df_snow['total_snowfall'].values # Double check values were correct
# df_snow['total_snowfall'] = df_snow['total_snowfall'].astype(int) # total_snowfall is now int

display(df_snow.head())
display(df_resort.head())

,location,resort,pass,year,total_snowfall,snowfall_days,average_base_depth,average_summit_depth,max_base_depth,biggest_snowfall
0,utah,Alta,Ikon,2012 - 2013,366,76,50,52,113,17
1,utah,Alta,Ikon,2013 - 2014,353,68,64,60,124,14
2,utah,Alta,Ikon,2014 - 2015,278,56,44,42,90,19
3,utah,Alta,Ikon,2015 - 2016,286,60,51,51,116,19
4,utah,Alta,Ikon,2016 - 2017,304,55,64,63,145,19

,location,resort,pass,limited_or_unlimited,total_lifts,summit_height,vertical_drop,base_elevation,runs_in_total,longest_run,...,projected_closing,projected_days_open,days_open_last_year,years_open,average_snowfall,beginners_runs,intermediate_runs,advanced_runs,expert_runs,night_skiing
0,utah,Alta,Ikon,limited,6,11068',2538',8530',119,1.3 mi,...,April 25 20222022/04/25,142,156,84,547,NaN,NaN,NaN,NaN,NaN
1,colorado,Arapahoe Basin,Ikon,limited,9,13050',2530',10780',147,1.5 mi,...,June 05 20222022/06/05,270,234,76,350,7%,20%,49%,24%,NaN
2,colorado,Aspen Snowmass,Ikon,limited,40,12510',4406',8104',336,5.3 mi,...,April 17 20222022/04/17,148,150,75,300,NaN,NaN,NaN,NaN,NaN
3,california,Bear Mountain,Ikon,unlimited,12,8805',1665',7140',15,1.5 mi,...,April 16 20222022/04/16,135,122,79,100,20%,33%,33%,13%,NaN
4,montana,Big Sky,Ikon,limited,36,11166',4350',7500',317,6 mi,...,April 24 20222022/04/24,143,144,49,400,15%,25%,42%,18%,NaN

In [6]:
# df_snow['average_base_depth'] = df_snow['average_base_depth'].replace('cm', '', regex=True)
# df_snow['average_base_depth'] = df_snow['average_base_depth'].astype(int)

df_snow = df_snow.replace('cm', '',regex=True) # Realized the data included 'cm' so instead of doing indivd columns i replaced the entire data at once

df_snow['average_summit_depth'] = df_snow['average_summit_depth'].astype(int)
df_snow['total_snowfall'] = df_snow['total_snowfall'].astype(int) # total_snowfall is now int
df_snow['average_base_depth'] = df_snow['average_base_depth'].astype(int)

In [7]:
df_snow['average_summit_depth'] = df_snow['average_summit_depth'].astype(int)
df_snow['max_base_depth'] = df_snow['max_base_depth'].astype(int)
df_snow['biggest_snowfall'] = df_snow['biggest_snowfall'].astype(int)

In [8]:
# Rename columns to indicate that my data is in cm
df_snow = df_snow.rename(columns={'total_snowfall': 'total_snowfall(cm)', 'average_base_depth': 'average_base_depth(cm)', 'average_summit_depth': 'average_summit_depth(cm)',
                                  'max_base_depth': 'max_base_depth(cm)', 'biggest_snowfall': 'biggest_snowfall(cm)'
                                   })

In [9]:
df_snow['location'] = df_snow['location'].str.title() # Titlecase the location column values

In [10]:
display(df_snow)
df_snow.dtypes

,location,resort,pass,year,total_snowfall(cm),snowfall_days,average_base_depth(cm),average_summit_depth(cm),max_base_depth(cm),biggest_snowfall(cm)
0,Utah,Alta,Ikon,2012 - 2013,366,76,50,52,113,17
1,Utah,Alta,Ikon,2013 - 2014,353,68,64,60,124,14
2,Utah,Alta,Ikon,2014 - 2015,278,56,44,42,90,19
3,Utah,Alta,Ikon,2015 - 2016,286,60,51,51,116,19
4,Utah,Alta,Ikon,2016 - 2017,304,55,64,63,145,19
...,...,...,...,...,...,...,...,...,...,...
865,Wisconsin,Wilmot Mountain,Epic,2017 - 2018,37,15,6,10,28,8
866,Wisconsin,Wilmot Mountain,Epic,2018 - 2019,35,9,9,15,24,10
867,Wisconsin,Wilmot Mountain,Epic,2019 - 2020,6,1,9,17,29,6
868,Wisconsin,Wilmot Mountain,Epic,2020 - 2021,22,11,9,10,20,5
869,Wisconsin,Wilmot Mountain,Epic,2021 - To Date,10,4,19,18,64,4

location                    object
resort                      object
pass                        object
year                        object
total_snowfall(cm)           int32
snowfall_days                int64
average_base_depth(cm)       int32
average_summit_depth(cm)     int32
max_base_depth(cm)           int32
biggest_snowfall(cm)         int32
dtype: object

- df_snow is now cleaned. Next up is df_resorts
- once resorts is cleaned we can merge both datasets

In [11]:
display(df_resort.head())
display(df_resort.dtypes)

,location,resort,pass,limited_or_unlimited,total_lifts,summit_height,vertical_drop,base_elevation,runs_in_total,longest_run,...,projected_closing,projected_days_open,days_open_last_year,years_open,average_snowfall,beginners_runs,intermediate_runs,advanced_runs,expert_runs,night_skiing
0,utah,Alta,Ikon,limited,6,11068',2538',8530',119,1.3 mi,...,April 25 20222022/04/25,142,156,84,547,NaN,NaN,NaN,NaN,NaN
1,colorado,Arapahoe Basin,Ikon,limited,9,13050',2530',10780',147,1.5 mi,...,June 05 20222022/06/05,270,234,76,350,7%,20%,49%,24%,NaN
2,colorado,Aspen Snowmass,Ikon,limited,40,12510',4406',8104',336,5.3 mi,...,April 17 20222022/04/17,148,150,75,300,NaN,NaN,NaN,NaN,NaN
3,california,Bear Mountain,Ikon,unlimited,12,8805',1665',7140',15,1.5 mi,...,April 16 20222022/04/16,135,122,79,100,20%,33%,33%,13%,NaN
4,montana,Big Sky,Ikon,limited,36,11166',4350',7500',317,6 mi,...,April 24 20222022/04/24,143,144,49,400,15%,25%,42%,18%,NaN

location                object
resort                  object
pass                    object
limited_or_unlimited    object
total_lifts              int64
summit_height           object
vertical_drop           object
base_elevation          object
runs_in_total           object
longest_run             object
skiable_terrain         object
snow_making             object
projected_opening       object
projected_closing       object
projected_days_open     object
days_open_last_year     object
years_open              object
average_snowfall        object
beginners_runs          object
intermediate_runs       object
advanced_runs           object
expert_runs             object
night_skiing            object
dtype: object

# df_resort to-do list
- longest run is in miles and km. convert
- drop column limited_or_unlimited
- drop '
- drop %
- projected_closing convert to datetime?
- runs_in_total needs to drop km and convert to int
- titlecase location column
- night_skiing table has 'ac' or acres. needs converting

### Convert KM to MI

In [12]:
# miles = km * 0.621371
# Converting km to mi
new = []
for value in df_resort['longest_run']:
    if type(value) == float:
        value = '0.0 mi'
        new.append(value)
    elif type(value) == str:
        l = value.split()
        if l[1] == 'km':
             l[0] = str(round(float(l[0])* 0.621371,1))
             l[1] = 'mi'
             new.append(' '.join(l))
        else:
            new.append(value)

print(new)
df_resort['longest_run'] = new

['1.3 mi', '1.5 mi', '5.3 mi', '1.5 mi', '6 mi', '1 mi', '1 mi', '1.2 mi', '1.7 mi', '2.5 mi', '2.5 mi', '2.8 mi', '3 mi', '4.5 mi', '2 mi', '6 mi', '5 mi', '2.5 mi', '3 mi', '4 mi', '0.7 mi', '3.2 mi', '9.5 mi', '1.2 mi', '3.5 mi', '2.5 mi', '3 mi', '3 mi', '3 mi', '3 mi', '3.5 mi', '3 mi', '3 mi', '5 mi', '5 mi', '3.7 mi', '4.9 mi', '0.8 mi', '1.5 mi', '1.2 mi', '2 mi', '2.8 mi', '3.5 mi', '0.7 mi', '5.6 mi', '3.1 mi', '0.0 mi', '5.5 mi', '3.5 mi', '6.2 mi', '4 mi', '2.5 mi', '0.0 mi', '0.0 mi', '3.1 mi', '0.7 mi', '2.8 mi', '1.9 mi', '0.0 mi', '1.4 mi', '3.4 mi', '0.0 mi', '3.5 mi', '6.8 mi', '1.9 mi', '3.5 mi', '1 mi', '2 mi', '3.7 mi', '3 mi', '0.0 mi', '4 mi', '2.2 mi', '0.0 mi', '0.0 mi', '6.8 mi', '0.5 mi', '2.5 mi', '3.1 mi', '2.6 mi', '2.4 mi', '0.8 mi', '0.1 mi', '5.0 mi', '3.2 mi', '4.6 mi', '0.5 mi']

### Replace and drop

In [13]:
df_resort = df_resort.replace('N.A.', 0)

In [14]:
df_resort = df_resort.drop(['limited_or_unlimited'], axis=1)
df_resort = df_resort.drop(['projected_closing'],axis=1)
df_resort = df_resort.drop(['projected_opening'],axis=1)
df_resort = df_resort.drop(['snow_making'],axis=1)

### Convert KM to AC

In [15]:
new_list = []
for value in df_resort['skiable_terrain']:
    l = value.split()
    if l[1] == 'km':
        l[0] =round(float(l[0]) * 247.105, 1)
        
        new_list.append(l[0])
    else:
        new_list.append(l[0])
print(new_list)

df_resort['skiable_terrain'] = new_list

['2614', '1428', '5517', '198', '5800', '365', '415', '1050', '2527', '2600', '600', '2026', '680', '2500', '1500', '1526', '4200', '370', '3500', '4323', '190', '6000', '3121', '240', '3000', '2500', '1200', '2965', '670', '581', '1240', '2054', '878', '3358', '1294', '754', '3081', '1994', '257', '435', '285', '1832', '2908', 37065.8, 37065.8, '2504', 15567.6, '4800', '3148', '2800', '1800', '2300', 37065.8, 39536.8, 14332.1, 37065.8, '547', '1021', 101807.3, '3170', '667', 37065.8, '7300', 24710.5, 39536.8, '3000', '1125', '333', '485', '2054', 101807.3, '5289', 37065.8, 101807.3, 101807.3, '8171', '250', 25525.9, 9884.2, '1547', 4695.0, '232', '130', 4942.1, 7759.1, '2000', '135']

In [16]:
df_resort= df_resort.drop_duplicates(subset=['skiable_terrain'])
df_resort

,location,resort,pass,total_lifts,summit_height,vertical_drop,base_elevation,runs_in_total,longest_run,skiable_terrain,projected_days_open,days_open_last_year,years_open,average_snowfall,beginners_runs,intermediate_runs,advanced_runs,expert_runs,night_skiing
0,utah,Alta,Ikon,6,11068',2538',8530',119,1.3 mi,2614,142,156,84,547,NaN,NaN,NaN,NaN,NaN
1,colorado,Arapahoe Basin,Ikon,9,13050',2530',10780',147,1.5 mi,1428,270,234,76,350,7%,20%,49%,24%,NaN
2,colorado,Aspen Snowmass,Ikon,40,12510',4406',8104',336,5.3 mi,5517,148,150,75,300,NaN,NaN,NaN,NaN,NaN
3,california,Bear Mountain,Ikon,12,8805',1665',7140',15,1.5 mi,198,135,122,79,100,20%,33%,33%,13%,NaN
4,montana,Big Sky,Ikon,36,11166',4350',7500',317,6 mi,5800,143,144,49,400,15%,25%,42%,18%,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,michigan,Mt. Brighton,Epic,13,1330',230',1100',25,0.1 mi,130,99,111,62,60,24%,44%,24%,8%,130 ac
83,trentino,Pejo,Epic,7,3000m,1600m,1160m,20 km,5.0 mi,4942.1,0,0,0,0cm,NaN,25%,65%,10%,0.9 km
84,trentino,Pinzolo,Epic,14,2100m,1300m,800m,31.4 km,3.2 mi,7759.1,0,0,53,0cm,NaN,12%,41%,47%,NaN
85,colorado,Telluride,Epic,17,13150',4425',8725',147,4.6 mi,2000,129,136,50,280,16%,30%,21%,34%,NaN
86,wisconsin,Wilmot Mountain,Epic,11,1030',230',800',21,0.5 mi,135,139,125,84,70,33%,33%,33%,NaN,135 ac

### Rename columns in df_resort

In [17]:
df_resort = df_resort.rename(columns={'summit_height': 'summit_height(ft)', 'vertical_drop': 'vertical_drop(ft)', 
                                      'base_elevation': 'base_elevation(ft)', 'longest_run': 'longest_run(mi)',
                                      'skiable_terrain': 'skiable_terrain(ac)', 'average_snowfall': 'average_snowfall(cm)',
                                      'beginners_runs': 'beginner_runs(%)', 'intermediate_runs': 'intermediate_runs(%)',
                                      'advanced_runs': 'advanced_runs(%)', 'expert_runs': 'expert_runs(%)'})

In [18]:
df_resort

,location,resort,pass,total_lifts,summit_height(ft),vertical_drop(ft),base_elevation(ft),runs_in_total,longest_run(mi),skiable_terrain(ac),projected_days_open,days_open_last_year,years_open,average_snowfall(cm),beginner_runs(%),intermediate_runs(%),advanced_runs(%),expert_runs(%),night_skiing
0,utah,Alta,Ikon,6,11068',2538',8530',119,1.3 mi,2614,142,156,84,547,NaN,NaN,NaN,NaN,NaN
1,colorado,Arapahoe Basin,Ikon,9,13050',2530',10780',147,1.5 mi,1428,270,234,76,350,7%,20%,49%,24%,NaN
2,colorado,Aspen Snowmass,Ikon,40,12510',4406',8104',336,5.3 mi,5517,148,150,75,300,NaN,NaN,NaN,NaN,NaN
3,california,Bear Mountain,Ikon,12,8805',1665',7140',15,1.5 mi,198,135,122,79,100,20%,33%,33%,13%,NaN
4,montana,Big Sky,Ikon,36,11166',4350',7500',317,6 mi,5800,143,144,49,400,15%,25%,42%,18%,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,michigan,Mt. Brighton,Epic,13,1330',230',1100',25,0.1 mi,130,99,111,62,60,24%,44%,24%,8%,130 ac
83,trentino,Pejo,Epic,7,3000m,1600m,1160m,20 km,5.0 mi,4942.1,0,0,0,0cm,NaN,25%,65%,10%,0.9 km
84,trentino,Pinzolo,Epic,14,2100m,1300m,800m,31.4 km,3.2 mi,7759.1,0,0,53,0cm,NaN,12%,41%,47%,NaN
85,colorado,Telluride,Epic,17,13150',4425',8725',147,4.6 mi,2000,129,136,50,280,16%,30%,21%,34%,NaN
86,wisconsin,Wilmot Mountain,Epic,11,1030',230',800',21,0.5 mi,135,139,125,84,70,33%,33%,33%,NaN,135 ac

In [19]:
to_clean = [df_resort['longest_run(mi)'], df_resort['runs_in_total'], df_resort['summit_height(ft)'], df_resort['vertical_drop(ft)'], df_resort['base_elevation(ft)'], df_resort['skiable_terrain(ac)'], df_resort['night_skiing']]
for col in to_clean:
    df_resort['longest_run(mi)'] = df_resort['longest_run(mi)'].str.replace('mi', '')
    df_resort['runs_in_total'] = df_resort['runs_in_total'].str.replace('km', '')
    df_resort['runs_in_total'] = df_resort['runs_in_total'].str.replace('mi', '')
    df_resort['summit_height(ft)'] =  df_resort['summit_height(ft)'].str.replace('m', '')
    df_resort['vertical_drop(ft)'] = df_resort['vertical_drop(ft)'].str.replace('m', '')
    df_resort['base_elevation(ft)'] = df_resort['base_elevation(ft)'].str.replace('m', '')
    df_resort['skiable_terrain(ac)'] = df_resort['skiable_terrain(ac)'].str.replace('ac', '')
    df_resort['skiable_terrain(ac)'] = df_resort['skiable_terrain(ac)'].str.replace('km', '')
    df_resort['night_skiing'] = df_resort['night_skiing'].str.replace('km', '')
    df_resort['night_skiing'] = df_resort['night_skiing'].str.replace('ac', '')

In [20]:
df_resort

,location,resort,pass,total_lifts,summit_height(ft),vertical_drop(ft),base_elevation(ft),runs_in_total,longest_run(mi),skiable_terrain(ac),projected_days_open,days_open_last_year,years_open,average_snowfall(cm),beginner_runs(%),intermediate_runs(%),advanced_runs(%),expert_runs(%),night_skiing
0,utah,Alta,Ikon,6,11068',2538',8530',119,1.3,2614,142,156,84,547,NaN,NaN,NaN,NaN,NaN
1,colorado,Arapahoe Basin,Ikon,9,13050',2530',10780',147,1.5,1428,270,234,76,350,7%,20%,49%,24%,NaN
2,colorado,Aspen Snowmass,Ikon,40,12510',4406',8104',336,5.3,5517,148,150,75,300,NaN,NaN,NaN,NaN,NaN
3,california,Bear Mountain,Ikon,12,8805',1665',7140',15,1.5,198,135,122,79,100,20%,33%,33%,13%,NaN
4,montana,Big Sky,Ikon,36,11166',4350',7500',317,6,5800,143,144,49,400,15%,25%,42%,18%,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,michigan,Mt. Brighton,Epic,13,1330',230',1100',25,0.1,130,99,111,62,60,24%,44%,24%,8%,130
83,trentino,Pejo,Epic,7,3000,1600,1160,20,5.0,NaN,0,0,0,0cm,NaN,25%,65%,10%,0.9
84,trentino,Pinzolo,Epic,14,2100,1300,800,31.4,3.2,NaN,0,0,53,0cm,NaN,12%,41%,47%,NaN
85,colorado,Telluride,Epic,17,13150',4425',8725',147,4.6,2000,129,136,50,280,16%,30%,21%,34%,NaN
86,wisconsin,Wilmot Mountain,Epic,11,1030',230',800',21,0.5,135,139,125,84,70,33%,33%,33%,NaN,135

In [21]:
# Removing labels from values in column
df_resort = df_resort.replace("'", "", regex=True)
df_resort = df_resort.replace("cm","", regex=True)
df_resort = df_resort.replace("%","", regex=True)

In [22]:
df_resort['location'] = df_resort['location'].str.title() # Title case location values to capitalize location names
df_resort

,location,resort,pass,total_lifts,summit_height(ft),vertical_drop(ft),base_elevation(ft),runs_in_total,longest_run(mi),skiable_terrain(ac),projected_days_open,days_open_last_year,years_open,average_snowfall(cm),beginner_runs(%),intermediate_runs(%),advanced_runs(%),expert_runs(%),night_skiing
0,Utah,Alta,Ikon,6,11068,2538,8530,119,1.3,2614,142,156,84,547,NaN,NaN,NaN,NaN,NaN
1,Colorado,Arapahoe Basin,Ikon,9,13050,2530,10780,147,1.5,1428,270,234,76,350,7,20,49,24,NaN
2,Colorado,Aspen Snowmass,Ikon,40,12510,4406,8104,336,5.3,5517,148,150,75,300,NaN,NaN,NaN,NaN,NaN
3,California,Bear Mountain,Ikon,12,8805,1665,7140,15,1.5,198,135,122,79,100,20,33,33,13,NaN
4,Montana,Big Sky,Ikon,36,11166,4350,7500,317,6,5800,143,144,49,400,15,25,42,18,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Michigan,Mt. Brighton,Epic,13,1330,230,1100,25,0.1,130,99,111,62,60,24,44,24,8,130
83,Trentino,Pejo,Epic,7,3000,1600,1160,20,5.0,NaN,0,0,0,0,NaN,25,65,10,0.9
84,Trentino,Pinzolo,Epic,14,2100,1300,800,31.4,3.2,NaN,0,0,53,0,NaN,12,41,47,NaN
85,Colorado,Telluride,Epic,17,13150,4425,8725,147,4.6,2000,129,136,50,280,16,30,21,34,NaN
86,Wisconsin,Wilmot Mountain,Epic,11,1030,230,800,21,0.5,135,139,125,84,70,33,33,33,NaN,135

In [23]:
# night = []
# for value in df_resort['night_skiing']:
#     if value == np.nan:
#         print('False')
#     else:
#         print('True')

df_resort['night_skiing'] = df_resort['night_skiing'].replace({1: True, 0: False})
df_resort['night_skiing'] = df_resort['night_skiing'].fillna(False)
# Change  values in night skiing to be boolean

In [24]:
df_resort['night_skiing'].values

array([False, False, False, False, False, '260 ', '200 ', '200 ', False,
       False, '66 ', False, False, False, False, False, False, False,
       False, False, '20 ', False, False, '150 ', False, False, '30 ',
       False, False, False, False, '140 ', False, False, False, False,
       '541 ', '86 ', '150 ', '45 ', False, False, False, False, False,
       False, '288 ', False, '120 ', False, False, '0.6 ', '136 ', False,
       False, False, False, False, '3 ', '450 ', '156 ', False, False,
       False, '250 ', False, '3 ', False, '5 ', False, '130 ', '0.9 ',
       False, False, '135 '], dtype=object)

In [25]:
df_resort['night_skiing'] = pd.to_numeric(df_resort['night_skiing'], errors='coerce')
df_resort['night_skiing'] = df_resort['night_skiing'].astype(bool)

In [26]:
df_resort.dtypes
df_resort['night_skiing'].values # Instead of displaying values, I wanted the data to display True or False

array([False, False, False, False, False,  True,  True,  True, False,
       False,  True, False, False, False, False, False, False, False,
       False, False,  True, False, False,  True, False, False,  True,
       False, False, False, False,  True, False, False, False, False,
        True,  True,  True,  True, False, False, False, False, False,
       False,  True, False,  True, False, False,  True,  True, False,
       False, False, False, False,  True,  True,  True, False, False,
       False,  True, False,  True, False,  True, False,  True,  True,
       False, False,  True])

In [27]:
df_resort

,location,resort,pass,total_lifts,summit_height(ft),vertical_drop(ft),base_elevation(ft),runs_in_total,longest_run(mi),skiable_terrain(ac),projected_days_open,days_open_last_year,years_open,average_snowfall(cm),beginner_runs(%),intermediate_runs(%),advanced_runs(%),expert_runs(%),night_skiing
0,Utah,Alta,Ikon,6,11068,2538,8530,119,1.3,2614,142,156,84,547,NaN,NaN,NaN,NaN,False
1,Colorado,Arapahoe Basin,Ikon,9,13050,2530,10780,147,1.5,1428,270,234,76,350,7,20,49,24,False
2,Colorado,Aspen Snowmass,Ikon,40,12510,4406,8104,336,5.3,5517,148,150,75,300,NaN,NaN,NaN,NaN,False
3,California,Bear Mountain,Ikon,12,8805,1665,7140,15,1.5,198,135,122,79,100,20,33,33,13,False
4,Montana,Big Sky,Ikon,36,11166,4350,7500,317,6,5800,143,144,49,400,15,25,42,18,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Michigan,Mt. Brighton,Epic,13,1330,230,1100,25,0.1,130,99,111,62,60,24,44,24,8,True
83,Trentino,Pejo,Epic,7,3000,1600,1160,20,5.0,NaN,0,0,0,0,NaN,25,65,10,True
84,Trentino,Pinzolo,Epic,14,2100,1300,800,31.4,3.2,NaN,0,0,53,0,NaN,12,41,47,False
85,Colorado,Telluride,Epic,17,13150,4425,8725,147,4.6,2000,129,136,50,280,16,30,21,34,False
86,Wisconsin,Wilmot Mountain,Epic,11,1030,230,800,21,0.5,135,139,125,84,70,33,33,33,NaN,True

In [28]:
df_resort['skiable_terrain(ac)'].drop_duplicates(inplace=True)
df_resort['skiable_terrain(ac)']

0     2614
1     1428
2     5517
3      198
4     5800
      ...
82     130
83     NaN
84     NaN
85    2000
86     135
Name: skiable_terrain(ac), Length: 75, dtype: object

In [29]:
# df_resort['skiable_terrain(ac)'] = df_resort['skiable_terrain(ac)'].str.strip().str.replace(' ', '')

df_resort = df_resort.drop_duplicates(subset=['skiable_terrain(ac)'], keep='first')

### Convert datatypes

In [30]:
df_resort

,location,resort,pass,total_lifts,summit_height(ft),vertical_drop(ft),base_elevation(ft),runs_in_total,longest_run(mi),skiable_terrain(ac),projected_days_open,days_open_last_year,years_open,average_snowfall(cm),beginner_runs(%),intermediate_runs(%),advanced_runs(%),expert_runs(%),night_skiing
0,Utah,Alta,Ikon,6,11068,2538,8530,119,1.3,2614,142,156,84,547,NaN,NaN,NaN,NaN,False
1,Colorado,Arapahoe Basin,Ikon,9,13050,2530,10780,147,1.5,1428,270,234,76,350,7,20,49,24,False
2,Colorado,Aspen Snowmass,Ikon,40,12510,4406,8104,336,5.3,5517,148,150,75,300,NaN,NaN,NaN,NaN,False
3,California,Bear Mountain,Ikon,12,8805,1665,7140,15,1.5,198,135,122,79,100,20,33,33,13,False
4,Montana,Big Sky,Ikon,36,11166,4350,7500,317,6,5800,143,144,49,400,15,25,42,18,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,Colorado,Crested Butte,Epic,14,12162,3062,9375,121,2.6,1547,137,145,61,234,14,25,25,36,False
81,New-Hampshire,Mount Sunapee,Epic,10,2743,1510,1233,66,0.8,232,130,130,74,100,30,46,11,13,False
82,Michigan,Mt. Brighton,Epic,13,1330,230,1100,25,0.1,130,99,111,62,60,24,44,24,8,True
85,Colorado,Telluride,Epic,17,13150,4425,8725,147,4.6,2000,129,136,50,280,16,30,21,34,False
86,Wisconsin,Wilmot Mountain,Epic,11,1030,230,800,21,0.5,135,139,125,84,70,33,33,33,NaN,True

In [31]:
df_resort['runs_in_total'] = df_resort['runs_in_total'].replace('18.2', '18',regex=True)
df_resort['runs_in_total'] = df_resort['runs_in_total'].replace('41.8', '41',regex=True)
df_resort['runs_in_total'] = df_resort['runs_in_total'].replace('39.2', '39',regex=True)
df_resort['runs_in_total'] = df_resort['runs_in_total'].replace('103.3', '103',regex=True)
df_resort['runs_in_total'] = df_resort['runs_in_total'].replace('31.4', '31',regex=True)

df_resort['runs_in_total']

C:\Users\Noki\AppData\Local\Temp\ipykernel_30948\2248216896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_resort['runs_in_total'] = df_resort['runs_in_total'].replace('18.2', '18',regex=True)
C:\Users\Noki\AppData\Local\Temp\ipykernel_30948\2248216896.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_resort['runs_in_total'] = df_resort['runs_in_total'].replace('41.8', '41',regex=True)
C:\Users\Noki\AppData\Local\Temp\ipykernel_30948\2248216896.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_resort['runs_in_total'] = df_resort['runs_in_total'].replace('39.2', '39',regex=True)
C:\Users\Noki\AppData\Local\Temp\ipykernel_30948\2248216896.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_resort['runs_in_total'] = df_resort['runs_in_total'].replace('103.3', '103',regex=True)
C:\Users\Noki\AppData\Local\Temp\ipykernel_30948\2248216896.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_resort['runs_in_total'] = df_resort['runs_in_total'].replace('31.4', '31',regex=True)

0     119
1     147
2     336
3      15
4     317
     ...
79    121
81     66
82     25
85    147
86     21
Name: runs_in_total, Length: 65, dtype: object

In [32]:
df_resort['runs_in_total'].values

array(['119', '147', '336', '15', '317', '55', '60', '66', '150', '86',
       '61', '103', '61', '131', '43', '155', '164', '61', '150', '119',
       '60', '245', '59', '27', '41 ', '82', '169', '99', '111', '162',
       '120', '135', '145', '110', '102', '161', '65', '61', '55', '18 ',
       '150', '187', '150 ', '142', '97', '128', '129', '80', '90', '71',
       '75', '100', '39 ', '341', '53', '43', '116', '267', '234', '48',
       '121', '66', '25', '147', '21'], dtype=object)

In [33]:
df_resort = df_resort.replace(np.nan, 0) # Converted NaN to 0 in order to get the runs columns to an integer

In [34]:
df_resort['summit_height(ft)'] = df_resort['summit_height(ft)'].astype(int)
df_resort['vertical_drop(ft)'] = df_resort['vertical_drop(ft)'].astype(int)
df_resort['base_elevation(ft)'] = df_resort['base_elevation(ft)'].astype(int)
df_resort['runs_in_total'] = df_resort['runs_in_total'].astype(int)
df_resort['longest_run(mi)'] = df_resort['longest_run(mi)'].astype(float)
df_resort['projected_days_open'] = df_resort['projected_days_open'].astype(int)
df_resort['years_open'] = df_resort['years_open'].astype(int)
df_resort['days_open_last_year'] = df_resort['days_open_last_year'].astype(int)
df_resort['average_snowfall(cm)'] = df_resort['average_snowfall(cm)'].astype(int)
df_resort['beginner_runs(%)'] = df_resort['beginner_runs(%)'].astype(int)
df_resort['intermediate_runs(%)'] = df_resort['intermediate_runs(%)'].astype(int)
df_resort['advanced_runs(%)'] = df_resort['advanced_runs(%)'].astype(int)
df_resort['expert_runs(%)'] = df_resort['expert_runs(%)'].astype(int)

In [35]:
display(df_resort)
df_snow

,location,resort,pass,total_lifts,summit_height(ft),vertical_drop(ft),base_elevation(ft),runs_in_total,longest_run(mi),skiable_terrain(ac),projected_days_open,days_open_last_year,years_open,average_snowfall(cm),beginner_runs(%),intermediate_runs(%),advanced_runs(%),expert_runs(%),night_skiing
0,Utah,Alta,Ikon,6,11068,2538,8530,119,1.3,2614,142,156,84,547,0,0,0,0,False
1,Colorado,Arapahoe Basin,Ikon,9,13050,2530,10780,147,1.5,1428,270,234,76,350,7,20,49,24,False
2,Colorado,Aspen Snowmass,Ikon,40,12510,4406,8104,336,5.3,5517,148,150,75,300,0,0,0,0,False
3,California,Bear Mountain,Ikon,12,8805,1665,7140,15,1.5,198,135,122,79,100,20,33,33,13,False
4,Montana,Big Sky,Ikon,36,11166,4350,7500,317,6.0,5800,143,144,49,400,15,25,42,18,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,Colorado,Crested Butte,Epic,14,12162,3062,9375,121,2.6,1547,137,145,61,234,14,25,25,36,False
81,New-Hampshire,Mount Sunapee,Epic,10,2743,1510,1233,66,0.8,232,130,130,74,100,30,46,11,13,False
82,Michigan,Mt. Brighton,Epic,13,1330,230,1100,25,0.1,130,99,111,62,60,24,44,24,8,True
85,Colorado,Telluride,Epic,17,13150,4425,8725,147,4.6,2000,129,136,50,280,16,30,21,34,False
86,Wisconsin,Wilmot Mountain,Epic,11,1030,230,800,21,0.5,135,139,125,84,70,33,33,33,0,True

,location,resort,pass,year,total_snowfall(cm),snowfall_days,average_base_depth(cm),average_summit_depth(cm),max_base_depth(cm),biggest_snowfall(cm)
0,Utah,Alta,Ikon,2012 - 2013,366,76,50,52,113,17
1,Utah,Alta,Ikon,2013 - 2014,353,68,64,60,124,14
2,Utah,Alta,Ikon,2014 - 2015,278,56,44,42,90,19
3,Utah,Alta,Ikon,2015 - 2016,286,60,51,51,116,19
4,Utah,Alta,Ikon,2016 - 2017,304,55,64,63,145,19
...,...,...,...,...,...,...,...,...,...,...
865,Wisconsin,Wilmot Mountain,Epic,2017 - 2018,37,15,6,10,28,8
866,Wisconsin,Wilmot Mountain,Epic,2018 - 2019,35,9,9,15,24,10
867,Wisconsin,Wilmot Mountain,Epic,2019 - 2020,6,1,9,17,29,6
868,Wisconsin,Wilmot Mountain,Epic,2020 - 2021,22,11,9,10,20,5
869,Wisconsin,Wilmot Mountain,Epic,2021 - To Date,10,4,19,18,64,4

## Merged data

In [36]:
df_final = pd.merge(df_snow, df_resort, on=['location', 'resort', 'pass'])

In [37]:
df_final.head(50)

,location,resort,pass,year,total_snowfall(cm),snowfall_days,average_base_depth(cm),average_summit_depth(cm),max_base_depth(cm),biggest_snowfall(cm),...,skiable_terrain(ac),projected_days_open,days_open_last_year,years_open,average_snowfall(cm),beginner_runs(%),intermediate_runs(%),advanced_runs(%),expert_runs(%),night_skiing
0,Utah,Alta,Ikon,2012 - 2013,366,76,50,52,113,17,...,2614,142,156,84,547,0,0,0,0,False
1,Utah,Alta,Ikon,2013 - 2014,353,68,64,60,124,14,...,2614,142,156,84,547,0,0,0,0,False
2,Utah,Alta,Ikon,2014 - 2015,278,56,44,42,90,19,...,2614,142,156,84,547,0,0,0,0,False
3,Utah,Alta,Ikon,2015 - 2016,286,60,51,51,116,19,...,2614,142,156,84,547,0,0,0,0,False
4,Utah,Alta,Ikon,2016 - 2017,304,55,64,63,145,19,...,2614,142,156,84,547,0,0,0,0,False
5,Utah,Alta,Ikon,2017 - 2018,190,42,54,51,115,15,...,2614,142,156,84,547,0,0,0,0,False
6,Utah,Alta,Ikon,2018 - 2019,656,92,74,73,180,27,...,2614,142,156,84,547,0,0,0,0,False
7,Utah,Alta,Ikon,2019 - 2020,326,53,50,49,134,24,...,2614,142,156,84,547,0,0,0,0,False
8,Utah,Alta,Ikon,2020 - 2021,330,52,48,50,116,27,...,2614,142,156,84,547,0,0,0,0,False
9,Utah,Alta,Ikon,2021 - To Date,265,46,72,71,114,24,...,2614,142,156,84,547,0,0,0,0,False
10,Colorado,Arapahoe Basin,Ikon,2012 - 2013,281,93,35,35,69,14,...,1428,270,234,76,350,7,20,49,24,False
11,Colorado,Arapahoe Basin,Ikon,2013 - 2014,418,115,56,55,90,15,...,1428,270,234,76,350,7,20,49,24,False
12,Colorado,Arapahoe Basin,Ikon,2014 - 2015,314,98,39,39,62,19,...,1428,270,234,76,350,7,20,49,24,False
13,Colorado,Arapahoe Basin,Ikon,2015 - 2016,290,88,48,48,80,15,...,1428,270,234,76,350,7,20,49,24,False
14,Colorado,Arapahoe Basin,Ikon,2016 - 2017,345,89,53,52,78,18,...,1428,270,234,76,350,7,20,49,24,False
15,Colorado,Arapahoe Basin,Ikon,2017 - 2018,247,70,40,39,73,14,...,1428,270,234,76,350,7,20,49,24,False
16,Colorado,Arapahoe Basin,Ikon,2018 - 2019,329,99,56,56,99,14,...,1428,270,234,76,350,7,20,49,24,False
17,Colorado,Arapahoe Basin,Ikon,2019 - 2020,173,57,34,33,69,15,...,1428,270,234,76,350,7,20,49,24,False
18,Colorado,Arapahoe Basin,Ikon,2020 - 2021,236,87,39,38,62,9,...,1428,270,234,76,350,7,20,49,24,False
19,Colorado,Arapahoe Basin,Ikon,2021 - To Date,100,40,43,42,62,13,...,1428,270,234,76,350,7,20,49,24,False
20,Colorado,Aspen Snowmass,Ikon,2012 - 2013,309,70,24,34,61,15,...,5517,148,150,75,300,0,0,0,0,False
21,Colorado,Aspen Snowmass,Ikon,2013 - 2014,326,61,39,52,90,24,...,5517,148,150,75,300,0,0,0,0,False
22,Colorado,Aspen Snowmass,Ikon,2014 - 2015,220,53,24,36,57,11,...,5517,148,150,75,300,0,0,0,0,False
23,Colorado,Aspen Snowmass,Ikon,2015 - 2016,305,62,36,51,72,14,...,5517,148,150,75,300,0,0,0,0,False
24,Colorado,Aspen Snowmass,Ikon,2016 - 2017,319,69,26,45,61,19,...,5517,148,150,75,300,0,0,0,0,False
25,Colorado,Aspen Snowmass,Ikon,2017 - 2018,233,42,21,36,52,16,...,5517,148,150,75,300,0,0,0,0,False
26,Colorado,Aspen Snowmass,Ikon,2018 - 2019,396,82,83,57,8181,22,...,5517,148,150,75,300,0,0,0,0,False
27,Colorado,Aspen Snowmass,Ikon,2019 - 2020,233,60,21,30,49,15,...,5517,148,150,75,300,0,0,0,0,False
28,Colorado,Aspen Snowmass,Ikon,2020 - 2021,257,59,24,35,59,20,...,5517,148,150,75,300,0,0,0,0,False
29,Colorado,Aspen Snowmass,Ikon,2021 - To Date,294,48,34,55,87,19,...,5517,148,150,75,300,0,0,0,0,False
30,California,Bear Mountain,Ikon,2012 - 2013,102,16,14,22,36,18,...,198,135,122,79,100,20,33,33,13,False
31,California,Bear Mountain,Ikon,2013 - 2014,38,8,6,13,12,10,...,198,135,122,79,100,20,33,33,13,False
32,California,Bear Mountain,Ikon,2014 - 2015,51,10,7,14,18,11,...,198,135,122,79,100,20,33,33,13,False
33,California,Bear Mountain,Ikon,2015 - 2016,81,16,16,24,40,18,...,198,135,122,79,100,20,33,33,13,False
34,California,Bear Mountain,Ikon,2016 - 2017,174,19,19,26,46,24,...,198,135,122,79,100,20,33,33,13,False
35,California,Bear Mountain,Ikon,2017 - 2018,36,10,14,20,36,8,...,198,135,122,79,100,20,33,33,13,False
36,California,Bear Mountain,Ikon,2018 - 2019,133,19,22,32,44,18,...,198,135,122,79,100,20,33,33,13,False
37,California,Bear Mountain,Ikon,2019 - 2020,79,13,20,23,40,18,...,198,135,122,79,100,20,33,33,13,False
38,California,Bear Mountain,Ikon,2020 - 2021,110,15,23,31,46,28,...,198,135,122,79,100,20,33,33,13,False
39,California,Bear Mountain,Ikon,2021 - To Date,83,12,28,37,58,13,...,198,135,122,79,100,20,33,33,13,False
40,Montana,Big Sky,Ikon,2012 - 2013,395,92,31,44,59,16,...,5800,143,144,49,400,15,25,42,18,False
41,Montana,Big Sky,Ikon,2013 - 2014,466,81,38,51,86,26,...,5800,143,144,49,400,15,25,42,18,False
42,Montana,Big Sky,Ikon,2014 - 2015,236,60,25,35,49,16,...,5800,143,144,49,400,15,25,42,18,False
43,Montana,Big Sky,Ikon,2015 - 2016,294,79,25,44,64,12,...,5800,143,144,49,400,15,25,42,18,False
44,Montana,Big Sky,Ikon,2016 - 2017,277,78,28,41,58,13,...,5800,143,144,49,400,15,25,42,18,False
45,Montana,Big Sky,Ikon,2017 - 2018,325,80,40,58,90,15,...,5800,143,144,49,400,15,25,42,18,False
46,Montana,Big Sky,Ikon,2018 - 2019,266,77,31,51,265,14,...,5800,143,144,49,400,15,25,42,18,False
47,Montana,Big Sky,Ikon,2019 - 2020,72,28,24,40,61,9,...,5800,143,144,49,400,15,25,42,18,False
48,Montana,Big Sky,Ikon,2020 - 2021,162,55,27,42,59,11,...,5800,143,144,49,400,15,25,42,18,False
49,Montana,Big Sky,Ikon,2021 - To Date,143,47,19,41,38,10,...,5800,143,144,49,400,15,25,42,18,False