# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
air_bnb = pd.read_csv(r'C:\Users\Noki\Downloads\AB_NYC_2019 (1).csv')
air_bnb_copy = air_bnb
display(air_bnb_copy)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [8]:
# How many neighborhood groups are available and which shows up the most?
air_bnb_copy.groupby('neighbourhood_group').count()[['availability_365']]

# There are 5 main neighbourhood groups in New York
# Manhattan is the area that shows up the most and has the highest availability count.

                     availability_365
neighbourhood_group
Bronx                            1091
Brooklyn                        20104
Manhattan                       21661
Queens                           5666
Staten Island                     373

In [10]:
# Are private rooms the most popular in manhattan?
room_type = air_bnb['room_type'].value_counts().sort_values(ascending=False)
print(room_type)

# There are only 3 room types listed in this data
# Entire home/apt are the most popular found in this data

Entire home/apt    25409
Private room       22326
Shared room         1160
Name: room_type, dtype: int64

In [11]:
# Which hosts are the busiest and based on their reviews?
busy_host = round(air_bnb.groupby('host_name').sum()).sort_values('number_of_reviews', ascending=False)
display(busy_host)

# We can observe that Michael is the busiest host based on the number of reviews

C:\Users\Noki\AppData\Local\Temp\ipykernel_26652\3257459404.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  busy_host = round(air_bnb.groupby('host_name').sum()).sort_values('number_of_reviews', ascending=False)

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
host_name,,,,,,,,,,
Michael,7430617239,22673153604,16985.0,-30841.0,66895,4600,11081,476.0,1043,38888
David,7943862898,28633613354,16414.0,-29805.0,65844,3754,8103,509.0,907,44171
John,5737372154,24525297065,11974.0,-21744.0,41892,2603,7223,321.0,2792,40249
Jason,2176696732,6962647849,5700.0,-10355.0,19381,1193,6522,196.0,312,19338
Alex,5496620312,19850092761,11361.0,-20636.0,52563,1651,6204,443.0,475,30031
...,...,...,...,...,...,...,...,...,...,...
Rabah,3302932,2082345,41.0,-74.0,250,5,0,0.0,1,32
Rabi & Soukaina,34364716,2123674,41.0,-74.0,70,3,0,0.0,1,83
Rachad,13821806,7695239,41.0,-74.0,249,3,0,0.0,1,0
Rachel & Alex,36449345,115528632,41.0,-74.0,80,1,0,0.0,1,43
현선,26139678,18497228,41.0,-74.0,1200,60,0,0.0,1,365

In [12]:
#Which neighorhood group has the highest average price?
avg_group_price = round(air_bnb.groupby('neighbourhood_group').price.mean(), 2).sort_values(ascending=False)
display(avg_group_price)

# Manhattan, on average is the most expensive area to stay in

neighbourhood_group
Manhattan        196.88
Brooklyn         124.38
Staten Island    114.81
Queens            99.52
Bronx             87.50
Name: price, dtype: float64

In [13]:
# Which neighbor hood group has the highest total price?
highest_group_price = round(air_bnb.groupby('neighbourhood_group').price.sum(), 2).sort_values(ascending=False)
display(highest_group_price)

# Manhattan has the most expensive total price of all airbnbs

neighbourhood_group
Manhattan        4264527
Brooklyn         2500600
Queens            563867
Bronx              95459
Staten Island      42825
Name: price, dtype: int64

In [14]:
#Which top 5 hosts have the highest total price?
host_price = air_bnb.groupby('host_name').sum().sort_values('price', ascending=False)
display(host_price)

# Airbnb hosts: Sonder, Blueground, Michael, David and Alex are the top 5 hosts with the highest total price

C:\Users\Noki\AppData\Local\Temp\ipykernel_26652\1062689537.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  host_price = air_bnb.groupby('host_name').sum().sort_values('price', ascending=False)

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
host_name,,,,,,,,,,
Sonder (NYC),10885561678,71782340547,13316.25823,-24198.18856,82795,4353,1281,397.56,106929,98588
Blueground,7210036953,24924786136,9451.60418,-17166.13165,70331,7470,29,6.04,53824,58884
Michael,7430617239,22673153604,16984.89137,-30841.28573,66895,4600,11081,475.82,1043,38888
David,7943862898,28633613354,16414.34392,-29804.53757,65844,3754,8103,508.61,907,44171
Alex,5496620312,19850092761,11361.10533,-20635.86235,52563,1651,6204,443.44,475,30031
...,...,...,...,...,...,...,...,...,...,...
Carolann,16927533,3737986,40.70588,-74.01590,12,300,0,0.00,1,0
Vishanti & Jeremy,21869057,11967922,40.72421,-73.95364,10,1,93,4.73,1,32
Salim,24114389,180661875,40.76844,-73.98333,10,1,2,0.13,1,0
Qiuchi,20933849,13709292,40.75091,-73.97597,0,3,0,0.00,1,0
Aymeric,20624541,10132166,40.70838,-73.94645,0,5,3,0.15,1,73

In [15]:
# Who currently has no (zero) availability with a review count of 100 or more?

# First, we filter out the hosts with zero availability
zero_avail_hosts = air_bnb[air_bnb['availability_365'] == 0]
print(zero_avail_hosts)

# Second, we filter for hosts with a review count of 100 or more
review_count_hosts = zero_avail_hosts[zero_avail_hosts['number_of_reviews'] >= 100]
print(review_count_hosts)

# Finally, we print the hosts that meet these requirements
display(review_count_hosts.iloc[:, :])

             id                                               name    host_id  \
4          5022   Entire Apt: Spacious Studio/Loft by central park       7192
6          5121                                    BlissArtsSpace!       7356
8          5203                 Cozy Clean Guest Room - Family Apt       7490
14         6090                      West Village Nest - Superhost      11975
20         7801                   Sweet and Spacious Brooklyn Loft      21207
...         ...                                                ...        ...
48550  36313048    Sunny room with private entrance in shared home   16883913
48731  36410519    Sunlight charming apt. in the heart of Brooklyn  121384174
48756  36419441                            Murray Hill Masterpiece  273824202
48760  36420725  Sunnyside, Queens 15 Mins to Midtown Clean & C...   19990280
48779  36424776  Queen size bedroom in two bed apt with great l...   13384464

           host_name neighbourhood_group       neighbourhood  latitude  \
4              Laura           Manhattan         East Harlem  40.79851
6              Garon            Brooklyn  Bedford-Stuyvesant  40.68688
8          MaryEllen           Manhattan     Upper West Side  40.80178
14             Alina           Manhattan        West Village  40.73530
20             Chaya            Brooklyn        Williamsburg  40.71842
...              ...                 ...                 ...       ...
48550        Tiffany              Queens           Ridgewood  40.69919
48731  Luciana Paula            Brooklyn          Park Slope  40.66716
48756          David           Manhattan         Murray Hill  40.74404
48760        Brandon              Queens           Sunnyside  40.74719
48779         Hollie            Brooklyn  Bedford-Stuyvesant  40.69617

       longitude        room_type  price  minimum_nights  number_of_reviews  \
4      -73.94399  Entire home/apt     80              10                  9
6      -73.95596     Private room     60              45                 49
8      -73.96723     Private room     79               2                118
14     -74.00525  Entire home/apt    120              90                 27
20     -73.95718  Entire home/apt    299               3                  9
...          ...              ...    ...             ...                ...
48550  -73.89902     Private room     45               1                  0
48731  -73.98101  Entire home/apt    111               8                  0
48756  -73.97239  Entire home/apt    129               2                  0
48760  -73.91919     Private room     46               1                  0
48779  -73.94198     Private room     50               3                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
4      2018-11-19               0.10                               1
6      2017-10-05               0.40                               1
8      2017-07-21               0.99                               1
14     2018-10-31               0.22                               1
20     2011-12-28               0.07                               1
...           ...                ...                             ...
48550         NaN                NaN                               1
48731         NaN                NaN                               1
48756         NaN                NaN                               1
48760         NaN                NaN                               1
48779         NaN                NaN                               1

       availability_365
4                     0
6                     0
8                     0
14                    0
20                    0
...                 ...
48550                 0
48731                 0
48756                 0
48760                 0
48779                 0

[17533 rows x 16 columns]
             id                                       name    host_id  \
8          5203         Cozy Clean Guest Room - Family Apt       7490
94        20913         Charming 1 bed GR8 WBurg LOCATION!      79402
132       30031           NYC artists’ loft with roof deck     129352
174       44221             Financial District Luxury Loft     193722
180       45556      Fort Greene, Brooklyn: Center Bedroom      67778
...         ...                                        ...        ...
29581  22705516         The Quietest Block in Manhattan :)  127740507
30461  23574142                          queens get away!!  176185168
31250  24267706  entire sunshine of the spotless mind room   21074914
32670  25719044                COZY Room for Female Guests   40119874
35014  27759146     Cozy corner near Empire State Building  209549523

        host_name neighbourhood_group              neighbourhood  latitude  \
8       MaryEllen           Manhattan            Upper West Side  40.80178
94     Christiana            Brooklyn               Williamsburg  40.70984
132           Sol            Brooklyn                 Greenpoint  40.73494
174         Coral           Manhattan         Financial District  40.70666
180          Doug            Brooklyn                Fort Greene  40.68863
...           ...                 ...                        ...       ...
29581    Kathleen           Manhattan                     Harlem  40.83102
30461       Janet              Queens                  Laurelton  40.68209
31250      Albert            Brooklyn         Bedford-Stuyvesant  40.68234
32670    Stephany            Brooklyn  Prospect-Lefferts Gardens  40.66242
35014     Mariluz           Manhattan                    Midtown  40.74858

       longitude        room_type  price  minimum_nights  number_of_reviews  \
8      -73.96723     Private room     79               2                118
94     -73.95775  Entire home/apt    100               5                168
132    -73.95030     Private room     50               3                193
174    -74.01374  Entire home/apt    196               3                114
180    -73.97691     Private room     65               2                206
...          ...              ...    ...             ...                ...
29581  -73.94181     Private room     65               2                103
30461  -73.73662     Private room     65               1                119
31250  -73.91318     Private room     49               1                102
32670  -73.94417     Private room     48               1                131
35014  -73.98341      Shared room     62               1                112

      last_review  reviews_per_month  calculated_host_listings_count  \
8      2017-07-21               0.99                               1
94     2018-07-22               1.57                               1
132    2019-05-20               1.86                               1
174    2019-06-20               1.06                               1
180    2019-06-30               1.92                               2
...           ...                ...                             ...
29581  2019-07-07               5.89                               2
30461  2018-12-24               7.79                               1
31250  2019-07-05               6.73                               3
32670  2019-05-31               9.97                               2
35014  2019-06-13              10.77                               3

       availability_365
8                     0
94                    0
132                   0
174                   0
180                   0
...                 ...
29581                 0
30461                 0
31250                 0
32670                 0
35014                 0

[162 rows x 16 columns]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
94,20913,Charming 1 bed GR8 WBurg LOCATION!,79402,Christiana,Brooklyn,Williamsburg,40.70984,-73.95775,Entire home/apt,100,5,168,2018-07-22,1.57,1,0
132,30031,NYC artists’ loft with roof deck,129352,Sol,Brooklyn,Greenpoint,40.73494,-73.95030,Private room,50,3,193,2019-05-20,1.86,1,0
174,44221,Financial District Luxury Loft,193722,Coral,Manhattan,Financial District,40.70666,-74.01374,Entire home/apt,196,3,114,2019-06-20,1.06,1,0
180,45556,"Fort Greene, Brooklyn: Center Bedroom",67778,Doug,Brooklyn,Fort Greene,40.68863,-73.97691,Private room,65,2,206,2019-06-30,1.92,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29581,22705516,The Quietest Block in Manhattan :),127740507,Kathleen,Manhattan,Harlem,40.83102,-73.94181,Private room,65,2,103,2019-07-07,5.89,2,0
30461,23574142,queens get away!!,176185168,Janet,Queens,Laurelton,40.68209,-73.73662,Private room,65,1,119,2018-12-24,7.79,1,0
31250,24267706,entire sunshine of the spotless mind room,21074914,Albert,Brooklyn,Bedford-Stuyvesant,40.68234,-73.91318,Private room,49,1,102,2019-07-05,6.73,3,0
32670,25719044,COZY Room for Female Guests,40119874,Stephany,Brooklyn,Prospect-Lefferts Gardens,40.66242,-73.94417,Private room,48,1,131,2019-05-31,9.97,2,0
35014,27759146,Cozy corner near Empire State Building,209549523,Mariluz,Manhattan,Midtown,40.74858,-73.98341,Shared room,62,1,112,2019-06-13,10.77,3,0

In [16]:
# What host has the highest total of prices and where are they located?
host_prices_location = air_bnb.groupby(['host_id', 'host_name', 'neighbourhood'])['price'].sum()
host_prices_location = host_prices_location.sort_values(ascending=False)
display(host_prices_location)

# Sonder (NYC) is the host with the highest total price and the host is located in the Financial District

host_id    host_name     neighbourhood
219517861  Sonder (NYC)  Financial District    57738
205031545  Red Awning    Midtown               35294
3750764    Kevin         Chelsea               18780
836168     Henry         Upper West Side       15000
1177497    Jessica       Clinton Hill          14850
                                               ...
62685070   Katie         Bushwick                 10
647528     Caterina      Bedford-Stuyvesant       10
91034542   Maureen       Kips Bay                 10
13709292   Qiuchi        Murray Hill               0
10132166   Aymeric       Williamsburg              0
Name: price, Length: 38295, dtype: int64

In [17]:
# When did Danielle from Queens last receive a review?

# Filter to find Danielle from Queens
danielle = air_bnb[(air_bnb['host_name'] == 'Danielle') & (air_bnb['neighbourhood_group'] == 'Queens')]
display(danielle)

# Sort the filtered data by the review date in descending order
sorted_reviews = danielle.sort_values('last_review', ascending=False)
display(sorted_reviews)

# Print the date of the last review for Danielle from Queens
display(sorted_reviews['last_review'].iloc[0])

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
7086,5115372,Comfy Room Family Home LGA Airport NO CLEANING...,26432133,Danielle,Queens,East Elmhurst,40.76374,-73.87103,Private room,54,1,430,2019-07-03,13.45,5,347
16349,13151075,ASTORIA APARTMENT OUTDOOR SPACE,18051286,Danielle,Queens,Astoria,40.77221,-73.92901,Private room,50,1,0,NaN,NaN,1,0
20403,16276632,Cozy Room Family Home LGA Airport NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76335,-73.87007,Private room,48,1,510,2019-07-06,16.22,5,341
21517,17222454,Sun Room Family Home LGA Airport NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76367,-73.87088,Private room,48,1,417,2019-07-07,14.36,5,338
22068,17754072,Bed in Family Home Near LGA Airport,26432133,Danielle,Queens,East Elmhurst,40.76389,-73.87155,Shared room,38,1,224,2019-07-06,7.96,5,80
22469,18173787,Cute Tiny Room Family Home by LGA NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76380,-73.87238,Private room,48,1,436,2019-07-08,16.03,5,337
27021,21386105,Quiet & clean 1br haven with balcony near the ...,154256662,Danielle,Queens,Astoria,40.77134,-73.92424,Entire home/apt,250,3,1,2018-01-02,0.05,1,180
33861,26814763,One bedroom with full bed / 1 stop from Manhattan,201647469,Danielle,Queens,Long Island City,40.74565,-73.94699,Private room,108,2,13,2019-06-20,1.74,1,333

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
22469,18173787,Cute Tiny Room Family Home by LGA NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76380,-73.87238,Private room,48,1,436,2019-07-08,16.03,5,337
21517,17222454,Sun Room Family Home LGA Airport NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76367,-73.87088,Private room,48,1,417,2019-07-07,14.36,5,338
20403,16276632,Cozy Room Family Home LGA Airport NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76335,-73.87007,Private room,48,1,510,2019-07-06,16.22,5,341
22068,17754072,Bed in Family Home Near LGA Airport,26432133,Danielle,Queens,East Elmhurst,40.76389,-73.87155,Shared room,38,1,224,2019-07-06,7.96,5,80
7086,5115372,Comfy Room Family Home LGA Airport NO CLEANING...,26432133,Danielle,Queens,East Elmhurst,40.76374,-73.87103,Private room,54,1,430,2019-07-03,13.45,5,347
33861,26814763,One bedroom with full bed / 1 stop from Manhattan,201647469,Danielle,Queens,Long Island City,40.74565,-73.94699,Private room,108,2,13,2019-06-20,1.74,1,333
27021,21386105,Quiet & clean 1br haven with balcony near the ...,154256662,Danielle,Queens,Astoria,40.77134,-73.92424,Entire home/apt,250,3,1,2018-01-02,0.05,1,180
16349,13151075,ASTORIA APARTMENT OUTDOOR SPACE,18051286,Danielle,Queens,Astoria,40.77221,-73.92901,Private room,50,1,0,NaN,NaN,1,0

'2019-07-08'

## Further Questions

1. Which host has the most listings?

In [23]:
# Used group by and count to filter thru host names and their listing count
listings_per_host = air_bnb.groupby('host_name')['calculated_host_listings_count'].count()

# Sort the total listings from highest to lowest to find the host with the most listings
listings_per_host = listings_per_host.sort_values(ascending=False)

display(listings_per_host)

host_name
Michael         417
David           403
Sonder (NYC)    327
John            294
Alex            279
               ...
Jerbean           1
Jerald            1
Jeonghoon         1
Jeny              1
현선                1
Name: calculated_host_listings_count, Length: 11452, dtype: int64

2. How many listings have completely open availability?

In [24]:
# Used length to filter through the whole data in 'availability_365' to find the number of listings with open availability
open_availability = len(air_bnb[air_bnb['availability_365'] == 365])

display(open_availability)

1295

3. What room_types have the highest review numbers?

In [26]:
# Used group by and mean to filter thru room types and find the mean of number of reviews
room_type_review_means = air_bnb.groupby('room_type')['number_of_reviews'].mean()

# Sort the listings from highest to lowest to find which room types have the highest review numbers
room_type_review_means = room_type_review_means.sort_values(ascending=False)

display(room_type_review_means)

room_type
Private room       24.112962
Entire home/apt    22.842418
Shared room        16.600000
Name: number_of_reviews, dtype: float64

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --

After analyzing the data provided, I have found that throughout the 5 main neighbourhood groups of Bronx, Brooklyn, Manhattan, Queens and Staten Island; Manhattan is the most popular area for airbnb listings. 
Manhattan is also the most expensive area to rent out, with the most popular rented out being an entire home/apartment.
You will most likely find listings with the hosts: Michael, David, John, Jason and Alex as they are the hosts who have the highest amount of reviews. Michael and Alex are also in the top 5 for highest total price of their listings.
Manhattan and Brooklyn hold the highest counts of airbnb listings as they boast some of New York's most iconic and tourist attraction areas.